---
import Section from "./Section.astro";
---

<Section
  id="about"
  title="About"
  subtitle="I'm a Senior Frontend Engineer with 5+ years of experience building enterprise web applications."
>
  <div class="card">
    <p>
      While my primary specialization is frontend development using React,
      TypeScript, and related frontend libraries, I’ve also worked across
      backend integrations, Node.js services, Azure Data Factory workflows,
      DevOps, and platform architecture based on project needs. I enjoy wearing
      multiple hats and contributing wherever needed to move products forward.
    </p>
    <p>
      I’ve worked on scalable UI platforms, authentication systems, enterprise
      integrations, performance optimization, and modernization of legacy
      applications while leading cross-functional teams in large enterprise
      environments.
    </p>

    <p>
      Currently, I’m building a GenAI-powered IRCC Express Entry application
      helper inspired by my own PR journey. The platform uses AI to analyze
      user-uploaded documents, generate structured Proof of Work/Education PDFs,
      combine and format supporting files, and automatically draft personalized
      Letters of Explanation to simplify the immigration application process.
    </p>
  </div>
</Section>
